html,body  
{
margin:0;
padding:0;
background-color: cadetblue;
}

h1
{
 color:darkred;
    text-align: center;
    border : 3px dotted white;
    width:18%;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size:40px;
}

a
{
    text-decoration: none;
}

#banniere
{
    width:100%;
    padding-bottom: 20px;
}

#menu
{
    width: 30%;
    position: relative;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

#menu img{
    width: 75%;
}

.elmntMenu
{
    border: 2px solid black;
    margin: 10px;
    padding-bottom: 4px;
}

.titrePage
{
    font-size: 35px;
    width:15%;
    text-align: center;
    margin: 0 auto;
    text-decoration: underline;
}

.imgTerrain
{
    width:30%;
    margin-top:25px;
    margin-left: 35%;
}

.description
{
    margin-left: 10px;
    font-size:20px;
}

#bylethimg
{
    background-color: white;
}

#menuTerrain
{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.elmntTerrain
{
    text-align: center;
}

#menuCommu
{
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}

#imgtournoi
{
    width: 300px;

}

#imgjoueur
{
    width: 300px;
}

#imgtournoi2
{
    width: 450px;
    margin-left:33%;
}

.ficheJoueur
{
    border: 2px solid black;
    width: 80%;
    margin: 20px auto;
    padding-left: 15px;
}

.ficheJoueur ul
{
    list-style: none;
}

#imgtier
{
    width:60%;
    margin-left:20%;
}